# Lab 6

Michele Benvenuto - 18232

In [80]:
import json
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
warnings.simplefilter('ignore')

## Parte 1 Filtrado y preprocesamiento

### Leyendo la data

In [81]:
f = open("large_eve.json", "r") 
lines = f.readlines()
f.close()
jsons = []

In [82]:
for line in lines:
    jsons.append(json.loads(line))

In [83]:
print(len(jsons))

746909

In [84]:
print(jsons[0])

{'timestamp': '2017-07-22T17:33:15.784100-0500', 'flow_id': 283570730437312, 'pcap_cnt': 18519, 'event_type': 'alert', 'vlan': 130, 'src_ip': '192.168.203.200', 'src_port': 2328, 'dest_ip': '192.181.145.109', 'dest_port': 445, 'proto': 'TCP', 'alert': {'action': 'allowed', 'gid': 1, 'signature_id': 2001569, 'rev': 15, 'signature': 'ET SCAN Behavioral Unusual Port 445 traffic Potential Scan or Infection', 'category': 'Misc activity', 'severity': 3}}

### Filtrando para DNS

In [85]:
dns = []
for i in jsons:
    if "dns" in i.keys():
        dns.append(i)

In [86]:
print(len(dns))

15749

In [87]:
print(dns[100])
print(dns[42])

{'timestamp': '2017-07-22T17:33:27.398815-0500', 'flow_id': 2090016796251365, 'pcap_cnt': 54532, 'event_type': 'dns', 'vlan': 150, 'src_ip': '192.168.207.4', 'src_port': 53, 'dest_ip': '192.168.205.170', 'dest_port': 36690, 'proto': 'UDP', 'dns': {'type': 'answer', 'id': 26728, 'rcode': 'NXDOMAIN', 'rrname': '<root>', 'rrtype': 'SOA', 'ttl': 20864}}
{'timestamp': '2017-07-22T17:33:27.397218-0500', 'flow_id': 544618843672482, 'pcap_cnt': 54529, 'event_type': 'dns', 'vlan': 150, 'src_ip': '192.168.205.170', 'src_port': 58844, 'dest_ip': '192.168.207.4', 'dest_port': 53, 'proto': 'UDP', 'dns': {'type': 'query', 'id': 5753, 'rrname': 'aolmtcmxm04.office.aol.com', 'rrtype': 'A', 'tx_id': 0}}

### Creando DataFrame

In [88]:
dns_normalized = pd.json_normalize(dns)

In [89]:
dns_normalized

,timestamp,flow_id,pcap_cnt,event_type,vlan,src_ip,src_port,dest_ip,dest_port,proto,dns.type,dns.id,dns.rrname,dns.rrtype,dns.tx_id,dns.rcode,dns.ttl,dns.rdata
0,2017-07-22T17:33:16.661646-0500,1327836194150542,22269,dns,110,2001:0dbb:0c18:0011:0260:6eff:fe30:0863,59680,2001:0500:0001:0000:0000:0000:803f:0235,53,UDP,query,15529,api.wunderground.com,A,0.0,NaN,NaN,NaN
1,2017-07-22T17:33:24.990320-0500,2022925111925872,54352,dns,110,2001:0dbb:0c18:0011:0260:6eff:fe30:0863,38051,2001:0500:0003:0000:0000:0000:0000:0042,53,UDP,query,58278,stork79.dropbox.com,A,0.0,NaN,NaN,NaN
2,2017-07-22T17:33:27.379891-0500,578544790391795,54519,dns,150,192.168.205.170,31393,192.168.207.4,53,UDP,query,54724,hpca-tier2.office.aol.com.ad.aol.aoltw.net,A,0.0,NaN,NaN,NaN
3,2017-07-22T17:33:27.380146-0500,578544790391795,54520,dns,150,192.168.207.4,53,192.168.205.170,31393,UDP,answer,54724,hpca-tier2.office.aol.com.ad.aol.aoltw.net,NaN,NaN,NXDOMAIN,NaN,NaN
4,2017-07-22T17:33:27.380146-0500,578544790391795,54520,dns,150,192.168.207.4,53,192.168.205.170,31393,UDP,answer,54724,<root>,SOA,NaN,NXDOMAIN,20864.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15744,2017-07-22T19:47:03.373435-0500,891876064866556,4441474,dns,120,192.168.207.4,53,192.168.202.172,60654,UDP,answer,33107,en-us.start3.mozilla.com,NaN,NaN,NXDOMAIN,NaN,NaN
15745,2017-07-22T19:47:03.373435-0500,891876064866556,4441474,dns,120,192.168.207.4,53,192.168.202.172,60654,UDP,answer,33107,<root>,SOA,NaN,NXDOMAIN,20864.0,NaN
15746,2017-07-22T19:47:38.146503-0500,2199315651640391,4452917,dns,130,192.168.203.67,50975,192.168.207.4,53,UDP,query,35892,whitecell.localdomain,AAAA,0.0,NaN,NaN,NaN
15747,2017-07-22T19:47:38.146953-0500,2199315651640391,4452918,dns,130,192.168.207.4,53,192.168.203.67,50975,UDP,answer,35892,whitecell.localdomain,NaN,NaN,NXDOMAIN,NaN,NaN
15748,2017-07-22T19:47:38.146953-0500,2199315651640391,4452918,dns,130,192.168.207.4,53,192.168.203.67,50975,UDP,answer,35892,<root>,SOA,NaN,NXDOMAIN,20864.0,NaN

In [90]:
dns_type_A = dns_normalized[dns_normalized['dns.rrtype'] == 'A']

In [91]:
print(dns_type_A.shape)

(2849, 18)

In [92]:
df = dns_type_A.drop_duplicates(subset=['dns.rrname'])

In [93]:
df.shape

(177, 18)

### Utilizando Flate para obtener el TLD

In [94]:
from flare.data_science.features import domain_tld_extract

In [95]:
tlds = []
for i in df.loc[:,'dns.rrname']:
    tlds.append(domain_tld_extract(i))

In [96]:
df["TLD"] = tlds

In [97]:
df.head()

,timestamp,flow_id,pcap_cnt,event_type,vlan,src_ip,src_port,dest_ip,dest_port,proto,dns.type,dns.id,dns.rrname,dns.rrtype,dns.tx_id,dns.rcode,dns.ttl,dns.rdata,TLD
0,2017-07-22T17:33:16.661646-0500,1327836194150542,22269,dns,110,2001:0dbb:0c18:0011:0260:6eff:fe30:0863,59680,2001:0500:0001:0000:0000:0000:803f:0235,53,UDP,query,15529,api.wunderground.com,A,0.0,NaN,NaN,NaN,wunderground.com
1,2017-07-22T17:33:24.990320-0500,2022925111925872,54352,dns,110,2001:0dbb:0c18:0011:0260:6eff:fe30:0863,38051,2001:0500:0003:0000:0000:0000:0000:0042,53,UDP,query,58278,stork79.dropbox.com,A,0.0,NaN,NaN,NaN,dropbox.com
2,2017-07-22T17:33:27.379891-0500,578544790391795,54519,dns,150,192.168.205.170,31393,192.168.207.4,53,UDP,query,54724,hpca-tier2.office.aol.com.ad.aol.aoltw.net,A,0.0,NaN,NaN,NaN,aoltw.net
6,2017-07-22T17:33:38.537426-0500,2167545251640146,55687,dns,180,192.168.198.62,35092,192.168.207.4,53,UDP,query,7425,safebrowsing.clients.google.com.home,A,0.0,NaN,NaN,NaN,safebrowsing.clients.google.com.home
9,2017-07-22T17:33:45.672579-0500,541745511744323,56307,dns,120,192.168.202.172,55580,192.168.207.4,53,UDP,query,12854,fxfeeds.mozilla.com,A,0.0,NaN,NaN,NaN,mozilla.com

## Parte 2

### Creando un DataFrame basado en esta info para usar mi modelo

In [98]:
from flare.data_science.features import domain_extract, entropy
import re

### Utilizando el clasificador y las funciones de la semana 2

In [99]:
def posicionPrimerDigito( s ):
    for i, c in enumerate(s):
        if c.isdigit():
            return i + 1
    return 0

def proporcionVocalesConsonantes (x):
    x = x.lower()
    patron_vocales = re.compile('([aeiou])')
    patron_consonantes = re.compile('([b-df-hj-np-tv-z])')
    vocales = re.findall(patron_vocales, x)
    consonantes = re.findall(patron_consonantes, x)
    try:
        proporcion = len(vocales) / len(consonantes)
    except: # Division por cero
        proporcion = 0  
    return proporcion

In [100]:
df_model = pd.DataFrame()
df_model['longitud'] = df['dns.rrname'].str.len()
df_model['digitos'] = df['dns.rrname'].str.count('[0-9]')
df_model['entropia'] = df['dns.rrname'].apply(entropy)
df_model['proporcionVocalesConsonantes'] = df['dns.rrname'].apply(proporcionVocalesConsonantes)
df_model['posicionPrimerDigito'] = df['dns.rrname'].apply(posicionPrimerDigito)

In [101]:
from joblib import load

In [102]:
clf = load('clf.joblib')

In [103]:
predict = clf.predict(df_model)

In [104]:
results = []
for i in predict:
    if i ==1:
        results.append(True)
    else:
        results.append(False)

In [105]:
df[results]['TLD']

1                                 dropbox.com
2                                   aoltw.net
6        safebrowsing.clients.google.com.home
45                                 google.com
84                             stayonline.net
                         ...
10646                    ejfodfmfxlkgifuf.xyz
14730                    192.168.21-28.0.home
15507                         192.168.22.201:
15716          192.168.22.201:.stayonline.net
15737                                real.com
Name: TLD, Length: 66, dtype: object

### Utilizando el calsificador de Flare

In [106]:
from flare.data_science.features import dga_classifier
from flare.tools.umbrella import Umbrella

In [107]:
dga = dga_classifier()

[*] Initializing... training classifier - Please wait.
[+] Training classifier on training set
[+] Out of sample legit f1 score 0.9988801084083145
[+] Out of sample dga f1 score 0.6037267080745341
[+] Training final classifier
[+] Classifier Ready

In [108]:
predicts = []
for i in df['dns.rrname']:
    predicts.append(dga.predict(i))

In [109]:
df['class'] = predicts
df.head()

,timestamp,flow_id,pcap_cnt,event_type,vlan,src_ip,src_port,dest_ip,dest_port,proto,dns.type,dns.id,dns.rrname,dns.rrtype,dns.tx_id,dns.rcode,dns.ttl,dns.rdata,TLD,class
0,2017-07-22T17:33:16.661646-0500,1327836194150542,22269,dns,110,2001:0dbb:0c18:0011:0260:6eff:fe30:0863,59680,2001:0500:0001:0000:0000:0000:803f:0235,53,UDP,query,15529,api.wunderground.com,A,0.0,NaN,NaN,NaN,wunderground.com,legit
1,2017-07-22T17:33:24.990320-0500,2022925111925872,54352,dns,110,2001:0dbb:0c18:0011:0260:6eff:fe30:0863,38051,2001:0500:0003:0000:0000:0000:0000:0042,53,UDP,query,58278,stork79.dropbox.com,A,0.0,NaN,NaN,NaN,dropbox.com,legit
2,2017-07-22T17:33:27.379891-0500,578544790391795,54519,dns,150,192.168.205.170,31393,192.168.207.4,53,UDP,query,54724,hpca-tier2.office.aol.com.ad.aol.aoltw.net,A,0.0,NaN,NaN,NaN,aoltw.net,legit
6,2017-07-22T17:33:38.537426-0500,2167545251640146,55687,dns,180,192.168.198.62,35092,192.168.207.4,53,UDP,query,7425,safebrowsing.clients.google.com.home,A,0.0,NaN,NaN,NaN,safebrowsing.clients.google.com.home,legit
9,2017-07-22T17:33:45.672579-0500,541745511744323,56307,dns,120,192.168.202.172,55580,192.168.207.4,53,UDP,query,12854,fxfeeds.mozilla.com,A,0.0,NaN,NaN,NaN,mozilla.com,legit

In [110]:
df[df['class']== 'dga']['dns.rrname']

148        AOLDTCMA04.office.aol.com
554      AOLDTCMA04.ad.aol.aoltw.net
1044                     www.gnu.org
1992                      ky.hec.net
2936                     ftp.usf.edu
7963                dns.msftncsi.com
8026                www.msftncsi.com
9856            vtlfccmfxlkgifuf.com
10646           ejfodfmfxlkgifuf.xyz
Name: dns.rrname, dtype: object

### Revisando por valores iguales

In [111]:
df[results][df['class'] =='dga']['dns.rrname']

148        AOLDTCMA04.office.aol.com
554      AOLDTCMA04.ad.aol.aoltw.net
1044                     www.gnu.org
7963                dns.msftncsi.com
8026                www.msftncsi.com
9856            vtlfccmfxlkgifuf.com
10646           ejfodfmfxlkgifuf.xyz
Name: dns.rrname, dtype: object

Se puede observar que si existen dominios que fueron clasificados como DGA por ambos clasificadores pero de los 66 que identifico el modelo solo 8 hacen match con uno que el clasificador dga de Flare reconocio como DGA

In [112]:
df_sus = df[df['class']== 'dga']

## Parte 3

In [113]:
umbrellaCisco = Umbrella(limit= 1000000)

[+] Updated Umbrella Top 1 Million list...

In [114]:
NotinUmbrella = []
for i in df_sus['TLD']:
    if umbrellaCisco.domain_in_umbrella(i):
        NotinUmbrella.append(False)
    else:
        NotinUmbrella.append(True)

In [115]:
#df Not In Umbrella
df_NIU = df_sus[NotinUmbrella]
df_NIU

,timestamp,flow_id,pcap_cnt,event_type,vlan,src_ip,src_port,dest_ip,dest_port,proto,dns.type,dns.id,dns.rrname,dns.rrtype,dns.tx_id,dns.rcode,dns.ttl,dns.rdata,TLD,class
554,2017-07-22T17:37:20.466444-0500,1258201905372684,75806,dns,150,192.168.205.170,48918,192.168.207.4,53,UDP,query,38493,AOLDTCMA04.ad.aol.aoltw.net,A,0.0,NaN,NaN,NaN,aoltw.net,dga
1992,2017-07-22T18:26:37.367894-0500,361099395177750,490170,dns,120,192.168.202.64,34529,192.168.207.4,53,UDP,query,46712,ky.hec.net,A,0.0,NaN,NaN,NaN,hec.net,dga
9856,2017-07-22T19:08:35.866745-0500,455668379133712,3352456,dns,150,192.168.205.191,41174,192.168.207.4,53,UDP,query,1337,vtlfccmfxlkgifuf.com,A,0.0,NaN,NaN,NaN,vtlfccmfxlkgifuf.com,dga
10646,2017-07-22T19:29:18.937879-0500,455668379133752,3352456,dns,150,192.168.205.190,41174,192.168.207.4,53,UDP,query,31337,ejfodfmfxlkgifuf.xyz,A,0.0,NaN,NaN,NaN,ejfodfmfxlkgifuf.xyz,dga

In [116]:
import whois

In [117]:
def get_creation_date(domain):
    w = whois.whois(domain)
    return w.creation_date

In [118]:
dates = []
for i in df_NIU['TLD']:
    try:
        dates.append(get_creation_date(i))
    except:
        dates.append(None)

In [119]:
df_NIU['creation_date'] = dates
df_NIU[['TLD','creation_date']]

                        TLD       creation_date
554               aoltw.net 2000-01-10 04:09:19
1992                hec.net 1996-04-24 04:00:00
9856   vtlfccmfxlkgifuf.com                 NaT
10646  ejfodfmfxlkgifuf.xyz                 NaT

Podemos observar que los dominios que tienen como TLD aoltw.net tienen todos las mismas exactas fechas de creación lo cual podemos confirmarlo como sospechosos. Además existen dominios de los cuales no pudimos obtener infomración de la fecha de creación utilizando la libreria whois por lo tanto esos tambien se marcan como sospechosos